{% extends "base.html.twig" %}

{% block body %}
    <h2>Bienvenue dans l'administration</h2>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item alert alert-primary">
            <a class="nav-link active" aria-current="page" href="/admin/posts">Gestion de posts</a>
        </li>
        <li class="nav-item alert alert-primary">
            <a class="nav-link" href="/admin/comments">Gestion de commentaires</a>
        </li>
    </ul>
{% endblock %}